<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<!-- id is the id used to use the bean
 class is the class which will be used to instaniate-->
<beans>
    <bean id="triangle" class="com.lewis.springBasic.Triangle">
        <!-- 3 point classes are injected into Triangle class and referenced
        via beans below. -->
        <property name="pointA" ref="zeroPoint"/>
        <property name="pointB">
            <!-- Inner bean is used when you know that it will only be used inside current
               bean and nowhere else. ref attribute can not be used.-->
            <bean class="com.lewis.springBasic.Point">
                <property name="x"  value="-20"/>
                <property name="y"  value="0"/>
            </bean>
        </property>
        <property name="pointC">
            <bean class="com.lewis.springBasic.Point">
                <property name="x"  value="20"/>
                <property name="y"  value="0"/>
            </bean>
        </property>
    </bean>

    <bean id="zeroPoint" class="com.lewis.springBasic.Point">
        <!-- property are used to get member variables to use in  getters/setters methods-->
        <property name="x"  value="0"/>
        <property name="y"  value="0"/>
    </bean>
</beans>